footer {
    text-align: center;
    padding: 0.5rem;
    font-size: 0.9rem;
    color: #666;
    /* border-top: 1px solid #e0e0e0; */
    box-shadow: 0 -2px 6px rgba(0,0,0,0.05);
    margin: 0;
    display: none;
  }
  footer a {
    color: #6c28c5;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
    transition: all 1.3s ease;
    color: #4a1a8c;
  }
  
  footer p {
    margin: 0;
    padding: 0px;
  }