.hero{
    height: 100vh;
    /* width: 100vw; */
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.hero .top {
  height: 50vh;
  background-color: var(--color1);
  width: 100%;
}
.hero .bottom {
  height: 50vh;
  background-color: var(--color2);
  width: 100%;
}
.hero p {
    font-size: 5rem;
    /* color: black; */
    text-align: center;
    padding: 5%;
    color: var(--color5);
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero span {
    font-size: 2rem;
    color: black;
    text-align: center;
    padding: 5%;
    color: var(--color4);
}


.pica {
    /* display: none; */
    opacity: 0;
}
.left.expanded .pica {
    display: block;
    transition: all 1.5s ease-in-out;
    opacity: 1;
}
.kokot {
    /* display: none; */
    opacity: 0;
}
.right.expanded .kokot {
    display: block;
    transition: all 1.5s ease-in-out;
    opacity: 1;
}