.sticky-top.scrolled  {
    background-color: #ffffff !important;
    /* height: 90px; */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 1.3s ease-in-out;
  }
  .sticky-top {
    transition: all 1.3s ease-in-out;
  }
  
  
  .navbar-nav .nav-link {
    font-size: 1.8rem;
    color: var(--color5);
    padding: 10px 20px;
  }
  
  .offset.nav-link {
    color: var(--color5);
    background-color: #28a745 !important; 
  }
  .offcanvas-body {
    color: var(--color5);
  }

  .scrolled .navbar-nav .nav-link {
    color: var(--color4);
  }
  nav {
    transition: all 1.3s ease-in-out;
  }

  .scrolled nav  {
    transition: all 1.3s ease-in-out;
  }
  
  .navbar-nav .nav-link:hover {
    color: var(--color2);
  }

      /* Prechod farby */
.transition-navbar {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Navbar úplne navrchu - zelený */
  .navbar-top {
    background-color: #28a745; /* Bootstrap "success" zelená */
  }
  
  /* Navbar po scrollnutí - biely + tieň */
  .navbar-scrolled {
    background-color: #ffffff !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .header {
    position: relative;
    z-index: 1;
  }

  /***************** navbar *****************/
  .sticky-top{
    background-color: var(--color4);
  }

  .logo {
    height: 80px;
  }

  .navbar-toggler {
    border-color: #fff;
    color: #fff;
  }

  .scrolled  .navbar-toggler {
    border-color: #000;
    color: #000;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  .navbar-toggler{
    background: #28a745;
  }

  .btn-close{
    filter: invert(1);
    background-color: #fff !important;
  }
  


.show.offcanvas, .show.offcanvas-header, .show.offcanvas-body  {
    color: var(--color5);
    background-color: var(--color4) !important;
  }

  .offcanvas-header {
    border-left: #fff 1px solid;
    border-top: #fff 1px solid;
  }
  .show .offcanvas-body {
    border-left: #fff 1px solid;
  }

  .scrolled .show .offcanvas .nav-link, .scrolled .show .offcanvas-header, .scrolled .show .offcanvas-body  {
    color: #000000;
    background-color: #FFFFFF !important;
    /* background-color: aquamarine !important; */
  }
    
 