.services .container {
    position: relative;
    top: -50px;
    padding: 5%;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px #0000001a;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}

.services .service-info {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 5%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;

}

.service-info li {
    list-style: outside;
    margin-bottom: 10px;
}

.service-info li::marker {
    color: var(--color2);
    font-size: 1.5rem;
    content: "✓ ";
}

.service-info.hovered {
    transition: all 1.5s ease-in-out;
    visibility: visible;
    opacity: 1;
}