@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url(css/hero.css);
@import url(css/about.css);
@import url(css/works.css);
@import url(css/contact.css);
@import url(css/services.css);
@import url(css/navbar.css);
@import url(css/herohero.css);
@import url(css/videos.css);
@import url(css/socials.css);
@import url(css/footer.css);
/* Compare this snippet from src/css/herohero.css: */



:root {
    --color1: rgb(164, 205, 57);
    --color2: rgb(72, 184, 233);
    --color3: #F5F5F5;
    --color4: #000000;
    --color5: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    /* width: 100%;
    height: 100%; */
    /* overflow: hidden; */
    min-height: 100%;
    font-family: "Space Grotesk", sans-serif;
}

p {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
}


.container {
    /* box-shadow: 0 4px 8px #0000001a; */
    top: 50px;
    position: relative;
}

.secondaryButton {
    background-color: var(--color2);
    color: var(--color5);
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    border: none;
}

  .title {
    font-size: 5rem;
    color: black;
    text-align: center;
    padding: 5% 0;
    color: var(--color2);
    text-transform: uppercase;
  }

.circle-image {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
}

/* mobile media query */
@media (max-width: 768px) {
    .title {
        font-size: 3rem;
    }
    .secondaryButton {
        font-size: 1.5rem;
        padding: 5px 15px;
    }
    .containerHero {
        display: inline;
    }
}


/*************** ABOUT US ***************/



/******************** WORKS ********************/




    /*************** CONTACT US *****************/

