@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url(css/hero.css);
@import url(css/about.css);
@import url(css/works.css);
@import url(css/contact.css);
@import url(css/services.css);

:root {
    --color1: #A4CD39;
    --color2: #48B8E9;
    --color3: #F5F5F5;
    --color4: #000000;
    --color5: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    font-family: "Space Grotesk", sans-serif;
}

.container {
    /* box-shadow: 0 4px 8px #0000001a; */
    top: 50px;
    position: relative;
}

.secondaryButton {
    background-color: var(--color2);
    color: var(--color5);
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    border: none;
}



/*************** ABOUT US ***************/



/******************** WORKS ********************/




    /*************** CONTACT US *****************/
    